<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
      <connectionStrings>
        <!-- Cadena de conexión para SQLite -->
        <add name="Cadena" 
             connectionString="Data Source=.\comercial_Estefanny_base_datos.db;Version=3;" 
             providerName="System.Data.SQLite" />
    </connectionStrings>      <appSettings>
        <!-- Configuraciones adicionales de la aplicación -->
        <add key="SelectedGradient" value="SunsetFresa" />
        <add key="EnableSpectacularEffects" value="true" />
        <add key="GradientAnimationDuration" value="300" />
        <add key="PreferredGradientCollection" value="Exclusive" />
        <add key="EnableGradientPulse" value="true" />
        <add key="EnableRainbowRotation" value="false" />
        <add key="GlowIntensity" value="0.8" />
        <add key="DropShadowEnabled" value="true" />
        <add key="LastSelectedGradient" value="AuroraBorealis" />
        <add key="GradientTransitionSpeed" value="500" />
        <add key="SpectacularThemeVersion" value="2.0" />
    </appSettings>
</configuration>
